<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <h1>Lista de Tarefas</h1>

    <form action="/cadastrar" method="POST">

        <label>Tarefa:</label>

        <input
            type="text"
            name="descricao"
            required>
        
        <input
            type="date"
            name="data"
            required>

        <input
            type="time"
            name="hora"
            required>
        <input
            type="text"
            name="local"
            required>

        <button type="submit">
            Adicionar
        </button>

    </form>

    <hr>

    <h2>Tarefas cadastradas</h2>

    <% if(tarefas.length === 0){ %>

        <p>Nenhuma tarefa cadastrada.</p>

    <% } else { %>

        <ul>

            <% tarefas.forEach(tarefa => { %>

                <li>
                    <strong><%= tarefa.descricao %></strong> - <%= tarefa.data %> às <%= tarefa.hora %> em <%= tarefa.local %>
                </li>

            <% }) %>

        </ul>

    <% } %>

</body>

</html>