<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sobre</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h1>Sobre o Sistema</h1>

    <p>Exemplo simples utilizando Express e EJS.</p>

    <a href="/">Voltar</a>

</body>
</html>